HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/shop/src/main/resources/static/5.jpg
/shop/src/main/resources/static/1.jpg
/shop/src/main/resources/static/2.jpg
/shop/src/main/resources/static/3.jpg
/shop/src/main/resources/static/4.jpg
/shop/src/main/resources/static/6.jpg
/shop/src/main/resources/static/7.jpg
/shop/src/main/resources/static/8.jpg
/shop/src/main/resources/static/9.jpg
/shop/src/main/resources/static/10.jpg
/shop/src/main/resources/static/11.jpg
/shop/src/main/resources/static/12.jpg
/shop/src/main/resources/static/13.jpg
/shop/src/main/resources/static/14.jpg
/shop/src/main/resources/static/15.jpg
